[defaults]
inventory = /etc/ansible/hosts
remote_user = ansible


[colors]
#highlight = white
#verbose = blue
verbose = green
#warn = bright purple
error = bright yellow
#debug = dark gray
#deprecate = purple
#skip = cyan
#unreachable = red
#ok = green
changed = bright cyan
#diff_add = green
#diff_remove = red
#diff_lines = cyan

